* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ef8e48;
}

/****** Start of Login styling ******/

.login-container {
  width: 300px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: whitesmoke;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.input-container {
  width: 250px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: flex-start;
  border-color: #59656F;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  background-color: whitesmoke;
}

/****** End of Login styling ******/


/****** Start of Registration styling ******/

.registration-container {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
  margin: 20px;
  border-radius: 2%;
}

.registration-container h3 {
  padding: 10px;
}

.registration-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/****** End of Registration styling ******/


/****** Start of Dashboard styling ******/

.dashboard-container {
  display: grid;
  margin-left: 10px;
  margin-right: 10px;
  border-style: solid;
  border-radius: 5px;
  grid-template-columns: 1fr 4fr 4fr;
  border-color: #59656F;
}

/****** End of Dashboard styling ******/


/****** Start of Sidebar styling ******/

.sidebar-container {
  display: flex;
  border-style: solid;
  grid-column: 1;
  height: 100%;
  border-radius: 5px;
  padding: 10px;
  justify-content: center;
  border-color: #3D405B;
  background-color: #DB2955;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FFFFFC;
  font-weight: bold;
  font-size: 25px;
}

.sidebar-item {
  color: #FFFFFC;
  margin: 15px;
  cursor: pointer;
}

/****** End of Side styling ******/


/****** Start of Contacts styling ******/

.contacts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: solid;
  border-color: black;
}

.add-contact-container {
  
  border-style: solid; 
  border-color: #59656F;
  border-radius: 10px;
  width: 400px;
  height: 100px;
  background-color: whitesmoke;
}

.valid-contacts-container {
  display: flex;
  flex-direction: column;
  border-style: solid;
  width: 800px;
  height: 100vh;
  border-color: #59656F;
  display: grid;
  background-color: #00A676;
}

.titles-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  padding: 10px;
  column-gap: 10px;
}

.contact-title {
  width: 250px;
  height: 145px;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-color: #59656F;
}

.contacts-display {
  border-style: solid;
  border-color: #59656F;
  height: 300px;
}

/****** End of Contacts styling ******/

/****** Start of OneContact styling ******/

.oneContact-container {
  display: flex;
  justify-content: space-evenly;
}

/****** End of OneContact styling ******/

/****** Start of MyTripStart styling ******/

.myTripStart-container {
  border-style: solid;
  border-color: #59656F;
}

.select-contact-list {
  border-style: solid;
  border-color: #59656F;
}

.select-contact-list-display {
  border-style: solid;
  border-color: #59656F;
}


/****** End of MyTripStart styling ******/









/****** Start of ADD COMPONENT HERE styling ******/

/****** End of ADD COMPONENT HERE styling ******/